*{
    font-family: "Inter", sans-serif;
}

body {
    background-color: #F0FDF4;
    max-width: 1920px;
    height: 100%;
    margin: 0;
    margin: auto;
}
.active{
    background-color: #15803D;
    color: white;
}